.xyaew { 
  margin-top: 57px;
  padding-bottom: 92px;
  margin-left: 28px;
  padding-right: 36px;
  border-bottom-width: 20px;
  border-top-width: 49px;
  border-left-width: 78px;
  padding-bottom: 86px;
  font-size: 7px;
  font-size: 44px;
  border-right-width: 88px;
  margin-left: 70px;
  margin-left: 22px;
  padding-top: 6px;
  border-left-width: 11px;
  font-size: 31px;
  border-top-width: 81px;
  line-height: 18px;
  border-right-width: 75px;
  margin-right: 51px;
  margin-left: 47px;
  border-bottom-width: 49px;
}
