.xyaew { 
  margin-top: 57px;
  padding-bottom: 92px;
  margin-left: 28px;
  padding-right: 36px;
  border-bottom-width: 20px;
  border-top-width: 49px;
  border-left-width: 78px;
  line-height: 54px;
}
